# Dependency (Sudah kamu lakukan)
node_modules/
jspm_packages/

# Build Output (Folder hasil kompilasi/build)
dist/
build/
out/

# Environment Variables (Sangat penting untuk keamanan!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs
*.log

# Editor & OS Specific
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
